.incident p {
    margin: 0;
}

.activeIncident {
    position: relative;
    transform: none;
    z-index: 110;
}

.activeIncident:after {
    content: '';
    position: absolute;
    bottom: 0.25px;
    right: 0.5px;
    width: 100%;
    height: 100%;
    animation: pulse 3s infinite;
    animation-timing-function: ease-out;
    background-color: rgba(73, 144, 226, 0.5);
    opacity: 1;
    border-radius: 16px;
    z-index: 100;
}

@keyframes pulse {
    0% {
        opacity: 0.5
    }
    70% {
        opacity: 0;
        transform: scale(1.5)
    }
    100% {
        opacity: 0
    }
}