/*
    Incident Animation
*/

.activeIncident {
    position: relative;
    transform: none;
    z-index: 110;
}

.activeIncident:after {
    content: '';
    position: absolute;
    bottom: 0.25px;
    right: 0.5px;
    width: 100%;
    height: 100%;
    animation: pulse 3s infinite;
    animation-timing-function: ease-out;
    background-color: rgba(73, 144, 226, 0.5);
    opacity: 1;
    border-radius: 16px;
    z-index: 100;
}

@keyframes pulse {
    0% {
        opacity: 0.5
    }
    70% {
        opacity: 0;
        transform: scale(1.5)
    }
    100% {
        opacity: 0
    }
}

/*
    Component Status Colors
*/

.component-status.operational {
    color: #247234;
}

.component-status.performanceissues {
    color: #2f5888;
}

.component-status.partialoutage {
    color: #74582a;
}

.component-status.majoroutage {
    color: #8e3b31;
}

.component-status.maintenance {
    color: #717171;
}

.component-status.unknown {
    color: #6e6b6b;
}

@media (prefers-color-scheme: dark) {
    .component-status.operational {
        color: #46b75d;
    }
    .component-status.performanceissues {
        color: #4173ac;
    }
    .component-status.partialoutage {
        color: #aa8448;
    }
    .component-status.majoroutage {
        color: #b4554b;
    }
    .component-status.maintenance {
        color: #a3a3a3;
    }
    .component-status.unknown {
        color: #b9b7b7;
    }
}

/*
    General Status Background Colors
*/

.status-bar.operational {
    background-color: #3da751;
}

.status-bar.issues {
    background-color: #e27b49;
}

.status-bar.outage {
    background-color: #d94430;
}

@media (prefers-color-scheme: dark) {
    .status-bar.operational {
        background-color: #319242;
    }

    .status-bar.issues {
        background-color: #a7711c;
    }

    .status-bar.outage {
        background-color: #ad3525;
    }
}

/*
    General
*/

.dark-logo {
    display: none;
}

.components-container {
    background-color: white;
}

.component {
    background-color: #f7f8f9;
}

.component-status {
    white-space: nowrap;
}

.component.children {
    cursor: pointer;
}

.component .component-dropdown {
    font-size: 7pt;
    position: relative;
    bottom: 3px;
    left: 5px;
}

.collapse-component .collapse-content {
    margin-left: 3em;
    padding-bottom: 8px;
}

.collapse-component {
    transition: height 500ms;
}

.component-body {
    display: block;
    padding-top: 5px;
    opacity: 0.7;
    font-size: 10pt;
}

.incident-container {
    background-color: white;
    color: #1e1e1e;
}

.incident-skeleton {
    background-color: #f7f8f9;
}

.incident-status {
    color: #717171;
}

.incident-status.activeIncident {
    color: #2f5888;
}

.incident p {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .dark-logo {
        display: inline;
    }
    .light-logo {
        display: none;
    }
    .components-container {
        background-color: #181A1B;
    }
    .component {
        background-color: #1C1F20;
    }
    .incident-container {
        color: #fff;
        background-color: #181A1B;
    }
    .incident-skeleton {
        background-color: #181A1B;
    }
    .incident-status {
        color: #a0a0a0;
    }
    .incident-status.activeIncident {
        color: #5787be;
    }
}

@media (max-width: 400px) {
    .app-header img {
        width: 95%;
    }
}